*{
margin:0px;
padding:0px;
}
.navmenu{

height:65px;
}
.menu {
    list-style-type: none;

}
.menu li a{
padding:20px;display:inline-block;
float:left;
color:black;
font-size:24px;
cursor:pointer;
margin-top:-3px;
text-decoration:none;
}


.menu li a:hover{
background-color:red;
text-decoration:none

}

.maindiv{
background:url(/image/1.jpg) no-repeat fixed center center / cover ;
background-position:0px 0px;
height:500px;
}
.insidediv{
background-color:black;
position:relative;
opacity:0.8;
height:500px;
}

.in-left{
background:url(image/001.jpg) no-repeat fixed ;
width:40%;
height:300px;
position:relative;
top:-400px;
-webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

 @-webkit-keyframes fadeInLeft {
            0% {
               opacity: 0;
               -webkit-transform: translatey(140px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateX(0);
            }
         }
         
		 
         @keyframes fadeInLeft {
            0% {
               opacity: 0;
               transform: translatey(140px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         
         .fadeInLeft {
         -webkit-animation-name: fadeInLeft;
         animation-name: fadeInLeft;
         }

#about{
position:relative;
top:-400px;
right:40px;
float:right;	
}	
#about h3 {	 
color:white;
}
#about p{	 
color:white;
}
#about p,h3{
    margin-top:5px;
    font-size: 21px;
    text-align: center;
    animation: fadein 12s;
    -moz-animation: fadein 12s; /* Firefox */
    -webkit-animation: fadein 12s; /* Safari and Chrome */
    -o-animation: fadein 12s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.quaskill{

height:200px;
background-color:red;
margin:-300px 0px 0px 0px;
}
.myskill{
background-color:blue;
margin:-100px -300px 0px 0px;
float:right;
}
.myskill{
padding:10px;
}
.qual{
padding:10px;
}
.qual{
background-color:cyan;
}
.secondpage{
height:2500px;
background-color:#394D7F;
margin-top:0px;}
.divibox{
width:30%;
height:230px;
background-color:blue;
margin:10px;
float:left;
opacity:0.8;
-webkit-box-shadow: 0 10px 6px -6px black;
	   -moz-box-shadow: 0 10px 6px -6px black;
	        box-shadow: 0 10px 6px -6px black;
}
.allboxes{
margin-left:65px;
float:left;
margin-top:10px;}
.divibox:hover{
background-color:white;
opacity:1;
}

